<?xml version='1.0' encoding='utf-8'?>
<widget id="eu.cobwebproject.ucd.ble.cobwebbleplugin" version="0.0.1"
	xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>COBWEB Bluetooth 4.0 Low Energy Plug-in</name>
	<description>
		COBWEB plug-in for capturing data from Bluetooth 4.0 Low Energy devices
	</description>

	<access origin="*" />
</widget>
